[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "favr"]
	path = favr
	url = https://github.com/lj-jenkins/favr
[submodule "fluffy"]
	path = fluffy
	url = https://github.com/lj-jenkins/fluffy
[submodule "keylist"]
	path = keylist
	url = https://github.com/lj-jenkins/keylist
